<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Phantasma Demo">
    <meta name="author" content="Phantasma Team">

    <title>Phantasma Demo</title>

    <!-- Third-party CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" type="text/css">

    <!-- Custom CSS -->
    <link href="css/phantasma-demo.css" rel="stylesheet">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<body>
<div class="container" id="app">
	<h1 class=" text-center"><img src="img/phantasma.png" class="logo"/>Phantasma Demo</h1>
	<hr/>	

	<div id="login-view">
		<form class="form-signin">
		<div class="social-box">
			<div class="row">
				<div class="col-md-12">
					<a href="#" onclick="loginWithPhantasmaLink()" class="btn btn-primary btn-block"><i class="icon-facebook"></i>    Login with Phantasma Link</a>
				</div>
			</div>
		</div>
		<div class="main">	        
			<p class="text-muted">Or login with your Phantasma key</p>
			<input type="password" class="form-control" placeholder="WIF key">		 

			<div class="row">
				<div class="col-md-8 col-md-offset-3">
					<button type="submit" class="btn btn-lg btn-primary">Login with WIF</button>
				</div>
			</div>
		</div>
      </form>
	</div>
	
	<div id="chat-view" class="messaging" style="display:none">
		<h4 class=" text-center text-mute">Account: {{ address }} &nbsp;<button type="button" class="btn btn-sm btn-primary" onclick="logoutFromPhantasma()">Logout</button></h4>
		<hr/>	
		<br/>
		
      <div class="inbox_msg">
        <div class="inbox_people">
          <div class="headind_srch">
            <div class="recent_heading">
              <h4>Recent</h4>
            </div>
          </div>
          <div class="inbox_chat">		  
            <div v-for="(item, index) in chats" v-bind:class="{'chat_list':true, 'active_chat':(index === activeChatIndex)}">
              <div class="chat_people" v-on:click="activeChatIndex = index;">
                <div class="chat_img"> <img src="https://ptetutorials.com/images/user-profile.png" alt="avatar"> </div>
                <div class="chat_ib">
                  <h5>{{item.name}} <span class="chat_date">{{item.date}}</span></h5>
                  <p>{{item.text}}</p>
                </div>
              </div>
            </div>
          </div>
        </div>
				
        <div class="mesgs">
          <div class="msg_history">
            <div v-for="item in chats[activeChatIndex].historic" v-bind:class="{'incoming_msg':(item.other), 'outgoing_msg':(!item.other)}">            
				<div class="incoming_msg_img" v-if="item.other"> 
					<img src="https://ptetutorials.com/images/user-profile.png" alt="avatar" /> 
				</div>
				
              <div v-bind:class="{'sent_msg':(!item.other), 'received_msg':(item.other)}">
				<p>{{item.text}}</p>
				<span class="time_date"> {{item.date}}</span>
              </div>			  			  
            </div>			
          </div>
		  
          <div class="type_msg">
            <div class="input_msg_write">
              <input type="text" class="write_msg" placeholder="Type a message" />
              <button class="msg_send_btn" type="button" onclick="sendMessage()"><i class="fa fa-paper-plane-o" aria-hidden="true"></i></button>
            </div>
          </div>
        </div>
      </div>           
	</div>
	
      <!--<p class="text-center top_spac"> Code by <a target="_blank" href="https://phantasma.io">Phantasma Team</a>, Design by Sunil Rajput</p>-->      	
</div>

	 <script type="text/javascript" src="js/jquery.min.js"></script>
	 <script type="text/javascript" src="js/bootstrap.min.js"></script>
	 <script type="text/javascript" src="js/bootbox.min.js"></script>
	 <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
	 <script type="text/javascript" src="js/phantasma-link.js"></script>

	 <script type="text/javascript">	
		var _phantasmaKey = null;

		var app = new Vue({
		  el: '#app',
		  data: {
				address: '???',
				chats: [
				  {name: 'apple', date: 'Dec 25', text:'Test, which is a new approach to have all solutions astrology under one roof.',
					historic: [
						{other:true, text:'Test which is a new approach to have all solutions', date:'11:21 AM    |    June 9'},
						{other:true, text:'Hello world', date:'11:17 AM    |    June 9'},
						{other:false, text:'This is another message', date:'11:15 AM    |    June 9'},
						{other:true, text:'Not yet!', date:'11:14 AM    |    June 9'},
						{other:false, text:'Did I already told you about Phantasma?', date:'11:12 AM    |    June 9'},
						{other:true, text:'Hello there', date:'11:01 AM    |    June 9'},
						]
					},
				  {name: 'orange', date: 'Nov 21', text:'Phantasma is the best blockchain!',
					historic: [
						{other:false, text:'I love Phantasma!', date:'11:15 AM    |    June 9'},
						{other:true, text:'Seems so!', date:'11:14 AM    |    June 9'},
						{other:false, text:'This is the second chat?', date:'11:12 AM    |    June 9'},
						{other:true, text:'Hi there', date:'11:01 AM    |    June 9'},
						]
				  }
				],
				activeChatIndex: 0
			},
			
			// define methods under the `methods` object
			methods: {
				greet: function (event) {
				  // `this` inside methods points to the Vue instance
					alert("hello");
				}
			}
		});
		
		function loginWithKey(key) {
			_phantasmaKey = key;
			app.address = key.Address;
			app.activeChatIndex = 0;
			
			$("#login-view" ).hide();
			$("#chat-view" ).show();
		}
		
		function loginWithPhantasmaLink(){
			var link = FindPhantasmaLink();
			link.Login(function(key, error){
				if (error) {
					bootbox.alert(error);
					return;
				}

				loginWithKey(key);				
			});
		}
		
		function logoutFromPhantasma() {
		}
		
		function sendMessage() {
		}
	 </script>
</body>

</html>
